h1{
    font-size: 58px;
    color: #20c997;
    display: flex;
    margin-left: 40px;
    margin-bottom: 20px;
}
.card-login{
    width: 350px;
    height: 380px;
    background-color: rgb(247, 242, 242);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0, 0, 0.1);
}
.form-group{
    font-size: 14px;
    color: gray;
    display: flex;
    margin-left: 40px;
    margin-top: 10px;   
}

.forget-password{
    font-size: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 80px;
    margin-left: 20px;
}

.btn-submit{
    font-size: 20px;
    color: #2baf88;
    display: flex;
    align-items: center;
    margin: 10px;
    margin-top: 30px;
    border-radius: 5px;
    width: calc(100% - 40px);
    height: 50px;
    border: none;
}